// Variables globales (exemple)
$primary: #0074c7;
$secondary: #00497c;
$background: #f1f8fc;

// Style de base du body
body {
  background-color: $background;
  font-family: sans-serif;
  color: #384050;
}

.nav-link {
  font-weight: 500;
  cursor: pointer;

  &.active {
    text-decoration: underline;
  }
}

input::placeholder {
  font-style: italic;
}
